# roam
# across Wi-Fi network
# from Wi-Fi to cell ir vice versa
# chmod 600 ~/.ssh/config

Host *
    ConnectTimeout 10
    ServerAliveInterval 120
    ServerAliveCountMax 2
    SetEnv TERM=xterm-256color
    addKeysToAgent yes
    UseKeychain yes



# sshHost = 'github.com' or 'ssh.github.com'
# https://help.github.com/articles/using-ssh-over-the-https-port
Host github.com
    Port 22
    User git
    IdentityFile ~/.ssh/id.account@github
    AddKeysToAgent yes
    IdentitiesOnly yes
    ProxyCommand nc -X 5 -x 127.0.0.1:6153 %h %p


Host droplet
    HostName 128.199.172.202
    User {ecs_user}
    Port {custom_port}
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id.root@backup.droplet.digitocean
    AddKeysToAgent yes
    ProxyCommand nc -X 5 -x 127.0.0.1:6153 %h %p
    # ProxyJump socks5://127.0.0.1:6153

Host volcengine
    HostName 118.196.26.25
    User {ecs_user}
    Port {custom_port}
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id.root@e-c1m1.ecs.volcengine
    AddKeysToAgent yes
